:root {
    --color-primary:rgb(240, 61, 61);
    --color-secondary: #FFF9EB;
    --color-tertiary: #C4C4C4;
    --color-button: #fe652b;
    --color-button-hover: #e55720;
    --color-text: #444444;
    --color-white: #FFFFFF;
}

/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", serif;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Banner */
.header-banner {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0;
}

/* Seção de entrada */
.input-section {
    flex: 60%;
    background-color: var(--color-secondary);
    border-radius: 64px 64px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

/* Títulos */
.main-title {
    font-size: 48px;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
    color: var(--color-white);
}

.section-title {
    font-size: 36px;
    font-weight: 600;
    color: var(--color-primary);
    margin: 10px 0;
    text-align: center;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
    min-height: 100px;

    > div {

        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 600px;
    }

    > p {
        display: none;
        font-size: 16px;
        color: var(--color-primary);
        margin-top: 10px;
        font-weight: 600;

        &.success {
            color:rgb(81, 159, 81);
        }
    }
}

.input-name {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 8px 0 0 8px;
    font-size: 16px;

    transition: border 0.3s ease;

    &:focus {
        border: 1px solid var(--color-primary);
        outline: none
    }
}

.button-container {
    width: 300px;
    justify-content: center;
}

.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #333;
    border-right: none;
    border-radius: 8px 0 0 8px;
    font-family: "Merriweather", serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

button {
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.button-add {
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    color: white;
    border-radius: 0 25px 25px 0;

    transition: background-color 0.3s ease;

    &:hover {
        background-color:rgb(250, 43, 43);
        border: 1px solid rgb(250, 43, 43);
    }
}

ul {
    list-style-type: none;
    color: var(--color-text);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin: 20px 0;
}

.result-list {
    margin-top: 15px;
    color: #05DF05;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.button-draw {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
    color: var(--color-white);
    background-color: var(--color-primary);
    font-size: 16px;
    font-weight: 600;
    border: none;
    
    transition: background-color 0.3s ease;

    &:hover {
        background-color: rgb(250, 43, 43);
    }

    &:disabled {
        background-color: var(--color-tertiary);
        cursor: not-allowed;
    }
}

.button-draw img {
    margin-right: 40px;
}

modal {

    position: absolute;
    z-index: 1;

    width: 100vw;
    height: 100vh;

    display: none;
    justify-content: center;
    align-items: center;

    > div {

    border-radius: 8px;
    padding: 2rem;
    background: #fff;



        > h2 {

            font-size: 2.5rem;
            margin-bottom: 1rem;
            font-weight: 700;
        }
    
        > button {
    
            margin-top: 1rem;
            padding: .5rem 2rem;
            font-size: 1.6rem;
            border-radius: 8px;
            cursor: pointer;
            background-color: var(--color-primary);
            color: var(--color-white);
            border: none;
    
            transition: background-color 0.3s ease;
    
            &:hover { background-color: rgb(250, 43, 43) }
        }
    
        > p {
    
            font-size: 1.6rem;
            margin-top: 1rem;
    
        }
    
        > span {
    
            display: block;
            font-size: 2rem;
            font-weight: 600;
            color: var(--color-primary);
        }
    }
}